# ---- 基础配置 ----
APP_NAME=hyperf-chat
APP_ENV=dev

# ---- Mysql 配置 ----
DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=im_

# ---- Redis 配置 ----
REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0

# ---- JWT授权配置 ----
# 务必改为你自己的字符串
SIMPLE_JWT_SECRET=lumneim
JWT_HEADER_NAME=Authorization
SIMPLE_JWT_TTL=3600
SIMPLE_JWT_PREFIX=jwt

# ---- 项目配置 ----
WEB_URL=http://im.gzydong.club
IMG_URL=http://127.0.0.1:9504
UPLOAD_PATH=/www/data/lumenim
## 管理员邮箱
ADMIN_EMAIL=

# ---- 邮件配置 ----
MAIL_DRIVER=smtp
MAIL_HOST=smtp.163.com
MAIL_PORT=465
MAIL_USERNAME=xxxxx
MAIL_PASSWORD=xxxx
MAIL_FROM_ADDRESS=xxxx@163.com
MAIL_FROM_NAME="xxxxx"
MAIL_ENCRYPTION=ssl

# ---- 开启 SQL 日志 ----
SQL_QUERY_LOG=true
