# ---- 基础配置 ----
APP_NAME=hyperf-chat
APP_ENV=dev

# ---- Mysql 配置 ----
DB_DRIVER=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=hyperf
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4
DB_COLLATION=utf8mb4_unicode_ci
DB_PREFIX=

# ---- Redis 配置 ----
REDIS_HOST=localhost
REDIS_AUTH=(null)
REDIS_PORT=6379
REDIS_DB=0

# ---- JWT授权配置 ----
# 务必改为你自己的字符串
JWT_SECRET=hyperf
#token过期时间，单位为秒
JWT_TTL=60

# ---- 项目配置 ----
WEB_URL=http://im.gzydong.club
IMG_URL=http://im-img0.gzydong.club
UPLOAD_PATH=/www/data/lumenim
IP_ADDRESS=0.0.0.0

# ---- 邮件配置 ----
MAIL_DRIVER=smtp
MAIL_HOST=smtp.163.com
MAIL_PORT=465
MAIL_USERNAME=xxxxx
MAIL_PASSWORD=xxxx
MAIL_FROM_ADDRESS=xxxx@163.com
MAIL_FROM_NAME="xxxxx"
MAIL_ENCRYPTION=ssl

# ---- Rabbit MQ 配置 ----
AMQP_HOST=127.0.0.1
AMQP_PORT=5672
AMQP_USER=guest
AMQP_PASSWORD=guest
AMQP_VHOST=/im
